<h1>Login</h1>
<form>
  <label for="username">Username: </label><br/>
  <input id="username" class="form-control" name="username" type="text" />
  <label for="password">Password: </label><br/>
  <input id="password" class="form-control" name="password" type="password"/>
</form>