<h1>Registration:</h1>
<form>
  <label for="username">Username: </label><br/>
  <input id="username" class="form-control" name="username" type="text" />
  <label for="password">Password: </label><br/>
  <input id="password" class="form-control" name="password" type="password"/>
  <label for="confirm"> Please Reenter your password:</label>
  <input id="confirm" class="form-control" name="confirm" type="password"/>
  <button type="submit">Register</button>
</form>