

    <main class="profile">
  <div id="row-one" class="row">
    <%
    <div class="profile--avatar">
      <%= include('./profile/avatar.ejs') %>
    </div>
    <div class=""></div>
  </div>
  <div id="row-two" class="row">
    <section class="profile--bio">
      <%= include('./profile/bio.ejs')
    </section> 
  </div>

  


</main>